<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
</head>

<body>
    <nav>
        <h1> Book World </h1>
        <ul>
            <li> <a href="/">HOME</a></li>
            <li> <a href="/userProfile">USER PROFILE</a></li>
            <li> <a href="/auth/signout">SIGN OUT</a></li>
        </ul>
    </nav>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
</body>
<h5 class="profile-title">Hi {{user.username}}!</h5>
<div class="container mt-4">

    <div class="navbar navbar-light bg-light justify-content-between">
        <h4 style="margin:5px;">The Books Database</h4>
        <div style="display:flex;">
                <input class="form-control mr-sm-2" style="margin:5px;" type="text" name="searchBar" id="searchBar" placeholder="search for book"/>
                <button class="btn btn-primary" style="margin:5px;" id="searchBtn" disabled="true" role="button">Search</button>
                <a class="btn btn-primary" style="margin:5px;" href="/listBooks" role="button">Clear</a>
        </div>
    </div>

    {{#if message }}
        <h4 class="alert alert-primary mt-4">{{message}}</h4>
    {{/if}}
    
    <table class="table">
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Genre</th>
            {{!-- <th>Height</th> --}}
            {{!-- excluded hieght because not relevant to any features --}}
            <th>Publisher</th>
            <th>ID</th>
            <th>PublishDate</th>
            <th>Description</th>
            {{!-- we dont have a description for books, can make up garbage values --}}
            <th>Add book as Favourite</th>
            <th>Add to list of Read books</th>
            {{!-- <th>Add to Reading List</th> --}}
        </tr>

        {{#each books}}
        <tr>
            <td>{{this.Title}}</td>
            <td>{{this.Author}}</td>
            <td>{{this.Genre}}</td>
            <td>{{this.Publisher}}</td>
            <td>{{this.ID}}</td>
            <td>{{this.PublishDate}}</td>
            <td>{{this.Description}}</td>
            <td>
                <a class="btn btn-primary" style="margin:5px;" href="/favBooks/{{this.Title}}" role="button">Favourite</a>
            </td>
            <td>
                <a class="btn btn-primary" style="margin:5px;" href = "/addDidRead/{{this.ID}}" role="button" >DidRead</a>
            </td>
        </tr>
        {{/each}}
    </table>
</div>

</html>

<script>
    const searchBar = document.getElementById('searchBar');
    const searchBtn = document.getElementById('searchBtn');

    //Function for search btn
    searchBtn.addEventListener("click", goTo);
    function goTo(){
        var searchText = searchBar.value;
        window.location.href = '/search/' + searchText;
    }

    // Disables SearchBtn if no input
    searchBar.addEventListener("input", function(){
        searchBtn.disabled = (this.value === '');
    })

</script>
